body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddc5a1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eedeb8;
    padding: 10px 20px;
    color: black;
}

.logo-nombre {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px; /* Tamaño del logo */
    height: auto; /* Mantiene proporción */
    margin-right: 20px; /* Espacio entre el logo y el menú */
}

.nombre {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.preferencias {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.preferencia {
    display: flex;
    align-items: center;
    width: 80%;
    border: 3px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foto-preferencia {
    width: 220px;
    height: 220px;
    margin-right: 20px;
}

.detalle-preferencia {
    flex-grow: 1;
    margin-right: 20px;
}

.detalle-preferencia h2 {
    margin-bottom: 5px;
}

.detalle-preferencia p {
    margin: 10px 0;
}

/* Botón de preferencias */
.preferencias-button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.preferencias-button:hover {
    background-color: #555;
}

.guardar {
    text-align: center; /* Alinear al centro */
    margin-top: 20px;
}

.guardar button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.guardar button:hover {
    background-color: #555;
}
